.header{
    height: 52px;
    background-color: #f8f8f8;
    width: 100%;
}
.header nav{
    padding: 0;
}
.header .navbar-brand{
    width: 117px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #898989;
    padding: 14px 18px;
}
.header .nav-link{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #777777;    
        text-align: center;
}
.header .collapse .navbar-collapse{
    height: 52px;
}
.header ul{
    height: 52px;
}
.header ul li {
    height: 100%;
    min-width: 113px;
}
.header ul li a{
    height: 100%;
    padding: 18px 18px 8px;
}
.header ul li a.active{
    background-color: #e7e7e7;
}
.header ul li .badge{
    min-width: 27px;
    border-radius: 9px;;
    background-color: #999999;
}